{% extends "base.html" %}
{% block content %}
<div class="container mt-5 ">
    
 
        <div class="row">
              <div class="col-md-8 offset-md-2 ">
        
          
        <h1 class="display-4 text-center">¡Bienvenido a Horus! </h1>
        
        
        
          
        <p class="lead text-justify">Acaba de acceder al servidor de Horus, especializado en diagnósticos por imagen mediante el uso de inteligencia artificial. Estamos encantados de tenerlo.</p>
        
                
        
          
        <p class="lead text-justify">En la pestaña de servicios, puede explorar los distintos diagnósticos que ofrecemos. Si el paciente no tiene historial médico en nuestro servidor, le recomendamos registrarlos en la pestaña de paciente.</p>
        
                
        
         
        <p class="lead text-justify">Ante cualquier duda sobre el funcionamiento del servidor o si desea realizar aportes, no dude en comunicarse con nuestro soporte técnico.</p>
        
                <p class="lead text-justify">Si es un médico especialista, por favor, contáctenos para otorgarle el rango correspondiente y permitirle realizar aportes adicionales.</p>
        
                
        
                
        <p class="lead text-justify">Gracias por confiar en Horus para sus necesidades de diagnóstico por imagen.</p>
        
              
        
              
              </div>
        </div>
</div>
  {% endblock %}