{%from "macros.html" import get_menssages%}

{% extends "base.html" %}

{% block content %}
<div class="servicios-oculares">
  
       
        <div class="container">
            <div class="container mt-5">
                <div class="row">
                   
                    <div class="col-md-12">
                        <h1 class="display-4">Tomografía de Coherencia Óptica (OCT)</h1>
                        <p class="lead text-justify"> 
                            La Tomografía de Coherencia Óptica (OCT) es una avanzada técnica de imágenes médicas no invasiva que emplea luz infrarroja de alta resolución para capturar imágenes tridimensionales de tejidos biológicos.
                        </p> 

                        <p class="lead text-justify"> 
                            Ampliamente utilizada en oftalmología, la OCT permite examinar la retina y otras estructuras oculares con gran detalle. Asimismo, encuentra aplicaciones fundamentales en medicina cardiovascular y dermatología.
                        </p> 

                        <p class="lead text-justify"> 
                            Esta tecnología permite a los profesionales de la salud realizar diagnósticos precisos, monitorear la progresión de enfermedades y guiar procedimientos médicos con una precisión sin precedentes.
                        </p> 
                        <p class="lead text-justify">
                            Para optimizar su experiencia con nuestro servicio, le recomendamos utilizar imágenes en formato .jpg y un tamaño de 256x256</p>
                            
                            <p class="lead text-justify">
                                Además, en caso de que la imagen no cumpla con el tamaño recomendado, nuestro sistema intentará redimensionarla automáticamente. Sin embargo, si el resultado no es satisfactorio, se mostrará un mensaje de error.  En ese caso, le instamos a que se ponga en contacto con nuestro equipo de soporte para recibir asistencia adicional.
                            </p>
                            
                        
                    </div>
                    
                   
        <div class="col-md-6">
                        <!-- Aquí puedes agregar imágenes relacionadas con la OCT si lo deseas -->
                    </div>
                
               
                </div>
            </div>
        </div>




<form  class='row' method='POST' enctype="multipart/form-data">
   
    {{form.csrf_token}}
   
     <div class="row mb-1">
                <div class="col-5"></div>
                <div class="col-3 align-self-center align-items-center">
                        {{ form.image(class_="form-control") }}
                </div>
     </div>
     <div class="row mb-1">
            <div class="col-5"></div>
            <div class="col-3 align-self-center align-items-center">
                {{form.dni(class_="form-control-md",placeholder='dni del paciente de TCO')}}
            </div>
     </div>
     
    
    <div class="container d-flex justify-content-center align-item-center">
    <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
  </form>

  {% if mensaje%}

  <div class="container">
    <h2 class="font-weight-bold">A continuación, se muestran los resultados que dio la I.A.</h2>
        
      
    <div class="row">
        <div class="col">
            <table class="table table-bordered">
                    <thead>
                        <tr>
                                <th>Ojo Sano</th>
                                <th> DR</th>
                                <th>CSR</th>
            
                        </tr>
                    </thead>
                    
                    
                    <tbody>
                            <tr>
                                <td>{{mensaje[0]}}</td>
                                <td>{{mensaje[1]}}</td>
                                <td>{{mensaje[2]}}</td>
                            </tr>
                    </tbody>
            
              
            
           
            </table>
        </div>

    </div>

  </div>

  <div class="container">
        <img src="{{name}}" class="img">
  </div>
  
  {% endif %} 


</div>
{% endblock %}
