
<div id="contacto">
<section class="contacto seccion-oscura">
    <div class=" container">
      <div class="container  text-center rectangulo d-flex justify-content-evenly">
        <div class="row">
          <div class="col-12 col-md-2 seccion-titulo">
            Contáctanos 
          </div>
          <div class="col-12 col-md-2 ">
            <a href="https://www.instagram.com" target="_blank">
              <button type="submit">
                  Instagram
                  <i class="bi bi-instagram"></i>
              </button>
            </a>
          </div>
          <div class="col-12 col-md-2">
              <a href="mailto:mameppsanjuan@gmail.com">
                <button type="submit">
                    Correo
                    <i class="bi bi-envelope-check-fill"></i>
                </button>
              </a>
          </div>
          <div class="col-12 col-md-2 ">
            <a href="https://www.facebook.com" target="_blank">
              <button type="submit">
                  Facebook
                  <i class="bi bi-facebook"></i>
              </button>
            </a>
          </div>
          <div class="col-12 col-md-2 ">
            <a href="https://wa.me/5492644858411" target="_blank">
              <button type="submit">
                Whatsapp
                  <i class="bi bi-whatsapp"></i>
              </button>
            </a>
          </div>
          <div class="col-12 col-md-2 ">
            <a href="https://goo.gl/maps/PRzZJAVgGgoRmiYT9" target="_blank">
              <button type="submit">
                Dirección
                <i class="bi bi-geo-alt"></i>
              </button>
            </a>
          </div>
        </div>
    </div>
    </div>
  
  </section>

</div>