

{% if current_user.is_anonymous %}
<nav class="navbar navbar-expand-md navbar-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-toggler">
      <a class="navbar-brand" href="#">
        
        <a class="navbar-brand" href="{{url_for('index')}}">
          <img src="{{ url_for('static', filename='img/logo.png') }}" >
          
        </a>
      
      </a>
      <!-- poner imagen 2 horas 29 minutos-->
      <ul class="navbar-nav d-flex justify-content-center align-item-center">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{url_for('index')}}">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#galeria">Noticias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#carouselExampleDark">Nosotros</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Servicios
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ url_for('servicios_oculares') }}">Servicios oculares</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        
        
        <li class="nav-item">
          <a class="nav-link" href="#flush-headingOne">Preguntas Frecuentes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('login') }}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  href="{{ url_for('show_signup_form') }}"">Registrar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contacto">Contacto</a>
        </li>
      </ul>


      </ul>
      
    </div>
  </div>
</nav>


  {% else %}

  <nav class="navbar navbar-expand-md navbar-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-toggler">
        <a class="navbar-brand" href="#"></a>
        <!-- poner imagen 2 horas 29 minutos-->
        <ul class="navbar-nav d-flex justify-content-center align-item-center">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{url_for('index')}}">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#galeria">Noticias</a>
          </li>


          <li class="nav-item">
            <a class="nav-link" href="#carouselExampleDark">Nosotros</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Servicios
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{{ url_for('servicios_oculares') }}">Servicios Oculares</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Paciente
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{{ url_for('servicios_paciente') }}">Cargar Paciente</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link href="#flush-headingOne">Preguntas Frecuentes</a>
           
          </li>


          <li class="nav-item" >{{ current_user.name }} </li>

          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}"">Salir</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#contacto">Contacto</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>


  {% endif %}



