{% extends "base_2.html" %}

{% block content %}
<div class="servicios-oculares">
  
{% if flag==1 %}
   <h1>Debes logearte para ingresar al servicio</h1>
{%else%} 

{% if error %}
<div class="container-fluid">
    <div class="alert alert-danger alert-dismissible">
        <button class="btn-close" data-bs-dismiss="alert"></button>
        {{ error }}
 <a class="alert-link" href="{{ url_for('servicios_paciente') }}"">Presione aquí para registrarlo</a>

</div>
</div>
{% endif %}
<form  class='row' method='POST' enctype="multipart/form-data">
   
    {{form.csrf_token}}
    <div class="container d-flex justify-content-center align-item-center">
    {{form.image (class_="form-control-md")}}
     </div>
     <div class="container d-flex justify-content-center align-item-center">
      {{form.dni(class_="form-control-md",placeholder='dni')}}
       </div>
    
    <div class="container d-flex justify-content-center align-item-center">
    <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
  </form>


  {% if mensaje1 != ''%}

  <div class="container">
    <div class="row">
        <div class="col">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Ojo Sano</th>
                        <th> DR</th>
                        <th>CSR</th>
            
                    </tr>
                <tbody>
                    <tr>
                        <td>{{mensaje1}}</td>
                        <td>{{mensaje2}}</td>
                        <td>{{mensaje3}}</td>
                    </tr>
                </tbody>
            
              
            
            </thead>
            </table>
        </div>

    </div>

</div>

  
  <img src="{{name}}" >

  
  {% endif %} 
{% endif %}

</div>
{% endblock %}