{% extends "base.html" %}

{% block content %}

{% if flag==1 %}
   <h1>Debes logearte para ingresar al servicio</h1>
{%else%} 
<form  class='row' method='POST' enctype="multipart/form-data">
   
    {{form.csrf_token}}
    <div class="container d-flex justify-content-center align-item-center">
    {{form.image}}
     </div>
    
    <div class="container d-flex justify-content-center align-item-center">
    <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
  </form>
{% endif %}

{% if mensaje1 != ''%}
<h1>el paciente tiene: </h1> <br>
<h2>ojo sano: </h2>
<h2>{{mensaje1}}</h2>
<h2>DR: </h2>
<h2>{{mensaje2}}</h2>
<h2>CSR: </h2>
<h2>{{mensaje3}}</h2>
<img src="{{ url_for('static', filename='graficos/Ejemplo.jpg') }}" >
{% endif %}
{% endblock %}