{% extends "base_2.html" %}



{% block title %}Registro de usuarios{% endblock %}

{% block content %}
<div class="registro">
    {% if error %}
    <div class="container-fluid">
        <div class="alert alert-danger alert-dismissible">
            <button class="btn-close" data-bs-dismiss="alert"></button>
            {{ error }}
     <a class="alert-link" href="{{ url_for('login') }}"">Presione aquí para ingresar</a>
    
    </div>
    </div>
    {% endif %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="row mb-1">
                <div class="col-5"></div>
                <div class="col-3 align-self-center align-items-center">
            {{ form.name(class_="form-control",placeholder='Nombre') }}<br>
            {% for error in form.name.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
                </div>
        </div>

        <div class="row mb-1">
            <div class="col-5"></div>
            <div class="col-3 align-self-center align-items-center">
                {{ form.email(class_="form-control",placeholder='Correo') }}<br>
                {% for error in form.name.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
        </div>

        <div class="row mb-1">
            <div class="col-5"></div>
            <div class="col-3 align-self-center align-items-center">
                {{ form.password(class_="form-control",placeholder='Contraseña') }}<br>
                {% for error in form.name.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
        </div>

        <div class="row mb-1">
            <div class="col-5"></div>
            <div class="col-3 align-self-center align-items-center">
                {{ form.usuario_profesion(class_="form-control") }}<br>
                
            </div>
        </div>


        <div class="row mb-1">
            <div class="col-5"></div>
            <div class="col-3 align-self-center align-items-center">
                {{ form.submit(class_="btn btn-primary btn-lg") }}
            </div>
        </div>
            
        
   </form>

        
    
</div>
{% endblock %}