<nav class="navbar navbar-expand-md navbar-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-toggler">
        <a class="navbar-brand" href="#"></a>
        <!-- poner imagen 2 horas 29 minutos-->
        <ul class="navbar-nav d-flex justify-content-center align-item-center">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{url_for('public.index')}}">Inicio</a>
          </li>
         
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Servicios
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{{ url_for('servicios.servicios_oculares') }}">Servicios Oculares</a></li>
              
             
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#contacto">Contacto</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('servicios.servicios_paciente') }}">Paciente</a>
          </li>

          <li class="nav-item" >{{ current_user.name }} </li>

          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('user.logout') }}"">Salir</a>
          </li>

         
        </ul>
        
      </div>
    </div>
  </nav>
